.header{
	background-color: #011e29;
	color: white;
	text-align: center;
	padding: 20px 0;
	font-size: 28px;
	font-weight: bold;
}
.container{
	display: flex;
	justify-content: space-around;
	padding:30px;
}
.latest-news-section,.main-article,.pictorial-news-section{
	background-color: white;
	padding: 15px;
	border-radius: 5px;
}
.latest-news-section{
	width:20%;
}
.main-article{
	width: 45%;
	text-align: center;
}
.pictorial-news-section{
	width: 25%;
	text-align: center;
}
ul{
	padding-left: 18px;
}
.article-text{
	font-size: 14px;
	color: #555;
	line-height: 1.6;
	margin-top: 10px;
}
img{
	width: 100%;
	height: 120px;
	object-fit: cover;
	margin-bottom: 10px;
	border-radius: 5px;
}